<div class="n-wrapper">
  
    

    <%= form_with(model: staff, local: true) do |f| %>

      <% if staff.errors.any? %>
        <div class="alert alert-danger">
          <h5><%= pluralize(staff.errors.count, "error") %> prohibited this staff from being saved:</h5>
          <ul>
            <% staff.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group">
        <%= f.label :name, "Name" %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :email, "Email" %>
        <%= f.email_field :email, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :monthly_salary, "Monthly Salary" %>
        <%= f.number_field :monthly_salary, step: 0.01, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :status, "Status" %>
        <%= f.text_field :status, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :department_id, "Department" %>
        <%= f.collection_select :department_id, Department.all, :id, :name, { prompt: "Select Department" }, class: "form-select" %>
      </div>

      <div class="form-actions">
        <%= f.submit "Update Staff", class: "btn-update" %>
        <%= link_to "Cancel", staffs_path, class: "btn-cancel" %>
      </div>
    <% end %>
  </div>
</div>



