<div class="form-card">
  <div class="card-header-solid">
    <h2><%= student.new_record? ? "Add Student" : "Update Student" %></h2>
  </div>

  <%= form_with(model: student, local: true) do |form| %>
    <div class="mb-4">
      <%= form.label :name, class: "label" %>
      <%= form.text_field :name, class: "form-control", placeholder: "e.g. Jane Doe" %>
    </div>

    <div class="mb-4">
      <%= form.label :year_level, class: "label" %>
      <%= form.text_field :year_level, class: "form-control", placeholder: "e.g. Enter Year Level", min: 1 %>
    </div>

    <div class="mb-4">
      <%= form.label :program, class: "label" %>
      <%= form.text_field :program, class: "form-control", placeholder: "e.g. Computer Engineering" %>
    </div>

    <div class="mb-4">
      <%= form.label :department_id, class: "label" %>
      <%= form.collection_select :department_id, Department.all, :id, :name, { prompt: "Select a department" }, class: "form-select" %>
    </div>

    <div class="text-end">
      <%= form.submit student.new_record? ? "Save Student" : "Update Student", class: "btn-n btn-mint" %>
    </div>
  <% end %>
</div>