<div class="n-wrapper">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="card-header-solid m-0">STUDENTS</h1>
    <%= link_to "New Student", new_student_path, class: "btn-n btn-mint" %>
  </div>

    <table class="n-table">
      <thead>
        <tr>
          <th>NAME</th>
          <th>YEAR LEVEL</th>
          <th>DEPARTMENT</th>
          <th>PROGRAM</th>
          <th>ACTIONS</th>
        </tr>
      </thead>

      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><strong><%= student.name %></td>
            <td class="text-center">
              <%= student.year_level %></td>
            <td><%= student.department.name %></td>
            <td><%= student.program %></td>
            <td class="d-flex gap-2 justify-content-center">
              <%= link_to "View", student, class: "btn-n btn-sky", onclick: "event.stopPropagation();" %>
              <%= link_to "Edit", edit_student_path(student), class: "btn-n btn-peach", onclick: "event.stopPropagation();" %>
              <%= button_to "Delete", student, 
                    method: :delete,
                    form: { onsubmit: "event.stopPropagation();" },
                    data: { confirm: "Are you sure?" },
                    class: "btn-n btn-pink" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>