<h1 class="text-center bi bi-people-fill"> STUDENTS</h1>


<div class="n-wrapper">
  <div class="n-card">
    <div class="text-end mb-3">
        <%= link_to "\tNew Student", new_student_path, class: " bi bi-person-add btn-n btn-mint btn-new" %>
    </div>

    <table class="n-table">
      <thead>
        <tr>
          <th>NAME</th>
          <th>YEAR LEVEL</th>
          <th>DEPARTMENT</th>
          <th>PROGRAM</th>
          <th>ACTIONS</th>
        </tr>
      </thead>

      <tbody>
        <% @students.each do |student| %>
          <tr>
            <td><%= student.name %></td>
            <td class="text-center">
              <%= student.year_level %></td>
            <td><%= student.department.name %></td>
            <td><%= student.program %></td>
            <td class="actions-cell text-center">
              <%= link_to "Show", student, class: "btn-n btn-sky" %>
              <%= link_to "Edit", edit_student_path(student), class: "btn-n btn-peach" %>
              <%= link_to "Delete", student, class: "btn-n btn-pink" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
