<div class="n-wrapper">
 <div class="form-card">
    <div class="card-header-solid">
      <h2 class="mb-0"><%= department.new_record? ? "New Department" : "Edit Department" %></h5>
    </div>

    <div class="card-body">
      <%= form_with(model: department, local: true) do |form| %>
        <div class="mb-3">
          <%= form.label :name, "Name" %>
          <%= form.text_field :name, class: "form-control", placeholder: "Enter department name" %>
        </div>

        <div class="mb-3">
          <%= form.label :location, "Location" %>
          <%= form.text_field :location, class: "form-control", placeholder: "Enter location" %>
        </div>

        <div class="text-end mt-4">
          <%= form.submit department.new_record? ? "Save" : "Update", class: "btn-n btn-peach" %>
        </div>
      <% end %>
    </div>
  </div>
</div>