<div class="n-wrapper">
  <div class="n-card">
    <div class="d-flex justify-content-between align-items-start">
      <div>
        <h1 class="mb-2 m-0"><%= @department.name %></h1>
        <p class="text-muted">Location: <strong><%= @department.location %></strong></p>
      </div>
      <%= link_to "Edit Details", edit_department_path(@department), class: "btn-n btn-peach" %>
    </div>
  </div>

  <div class="n-card department-card">
    <details>
      <summary style="font-weight:600; font-size:1.2rem; ">STUDENTS</summary>
      <table class="n-table" style="margin-top:15px;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Program</th>
            <th>Year</th>
          </tr>
        </thead>
        <tbody>
          <% @department.students.each do |student| %>
            <tr>
              <td><%= student.name %></td>
              <td><%= student.program %></td>
              <td><%= student.year_level %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </details>
  </div>

  <div class="n-card department-card">
    <details>
      <summary style="font-weight:600; font-size:1.2rem; ">TEACHERS</summary>
      <table class="n-table" style="margin-top:15px;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Specialization</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @department.teachers.each do |teacher| %>
            <tr>
              <td><%= teacher.name %></td>
              <td><%= teacher.email %></td>
              <td><%= teacher.specialization %></td>
              <td><%= teacher.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </details>
  </div>

  <div class="n-card department-card">
    <details>
      <summary style="font-weight:600; font-size:1.2rem; ">STAFFS</summary>
      <table class="n-table" style="margin-top:15px;">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Monthly Salary</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% @department.staffs.each do |staff| %>
            <tr>
              <td><%= staff.name %></td>
              <td><%= staff.email %></td>
              <td>₱<%= number_with_precision(staff.monthly_salary, precision: 2, delimiter: ',') %></td>
              <td><%= staff.status %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </details>
  </div>

  <div class="d-flex justify-content-between align-items-center mt-4">
    <%= link_to "← Back to Departments", departments_path, class: "btn-n btn-grey" %>
    <%= button_to "Delete Department", @department, method: :delete, data: { confirm: "Are you sure?" }, class: "btn-n btn-pink" %>
  </div>
</div>