<div class="form-card">
  <div class="card-header-solid">
    <h2><%= section.new_record? ? "Add Section" : "Update Section" %></h2>
  </div>

  <%= form_with(model: section, local: true) do |form| %>
    <div class="mb-4">
      <%= form.label :name, class: "label" %>
      <%= form.text_field :name, class: "form-control", placeholder: "e.g. QCPP411-GO21" %>
    </div>

    <div class="mb-4">
      <%= form.label :room, class: "label" %>
      <%= form.text_field :room, class: "form-control", placeholder: "e.g. Enter Room"%>
    </div>

    <div class="mb-4">
      <%= form.label :time_slot, class: "label" %>
      <%= form.text_field :time_slot, class: "form-control", placeholder: "e.g. 8:00 AM - 10:00 AM" %>
    </div>

    <div class="mb-4">
      <%= form.label :subject_id, class: "label" %>
      <%= form.collection_select :subject_id, Subject.all, :id, :name, { prompt: "Select a subject" }, class: "form-select" %>
    </div>

    <div class="text-end">
      <%= form.submit section.new_record? ? "Save Section" : "Update Section", class: "btn-n btn-mint" %>
    </div>
  <% end %>
</div>