<div class="n-wrapper">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="card-header-solid m-0">SECTIONS</h1>
    <%= link_to "New Section", new_section_path, class: "btn-n btn-mint" %>
  </div>

    <table class="n-table">
      <thead>
        <tr>
          <th>SECTION NAME</th>
          <th>ROOM</th>
          <th>TIME SLOT</th>
          <th>SUBJECT</th>
          <th>NUMBER OF STUDENTS</th>
          <th>ACTIONS</th>
        </tr>
      </thead>

      <tbody>
        <% @sections.each do |section| %>
          <tr>
            <td><strong><%= section.name %></td>
            <td class="text-center">
              <%= section.room %></td>
            <td><%= section.time_slot %></td>
            <td><%= section.subject.name %></td>
            <td><%= section.number_of_students %></td>
            <td class="d-flex gap-2 justify-content-center">
              <%= link_to "View", section, class: "btn-n btn-sky", onclick: "event.stopPropagation();" %>
              <%= link_to "Edit", edit_section_path(section), class: "btn-n btn-peach", onclick: "event.stopPropagation();" %>
              <%= button_to "Delete", section,
                    method: :delete,
                    form: { onsubmit: "event.stopPropagation();" },
                    data: { confirm: "Are you sure?" },
                    class: "btn-n btn-pink" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>