<div class="n-wrapper">
  <div class="n-card">
    <div class="d-flex justify-content-between align-items-start">
      <div>
        <h1 class="mb-2 m-0"><%= @section.name %></h1>
        <div class="n-meta text-muted" style="font-size:0.9rem; margin-bottom:12px;">
          <%= @section.subject.name %> Subject &nbsp;| Room <%= @section.room %> &nbsp;|&nbsp; Timeslot <%= @section.time_slot %>
        </div>
      </div>
      <%= link_to "Edit Details", edit_student_path(@student), class: "btn-n btn-peach" %> 
    </div>

  <div class="n-card department-card">
    <details>
      <summary style="font-weight:600; font-size:1.2rem; ">STUDENTS</summary>
      <table class="n-table" style="margin-top:15px;">
        <thead>
          <tr>
            <th>STUDENT NAME</th>
            <th>PROGRAM</th>
            <th>YEAR LEVEL</th>
          </tr>
        </thead>
        <tbody>
          <% @section.classlists.each do |classlist| %>
            <tr>
              <td><strong><%= classlist.student.name %></td>
              <td><%= classlist.student.program %></td>
              <td><%= classlist.student.year_level %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </details>
  </div>

  <div class="d-flex justify-content-between align-items-center mt-4">
    <%= link_to "â† Back to Sections", sections_path, class: "btn-n btn-grey" %>
    <%= button_to "Delete Section", @section, method: :delete, data: { confirm: "Are you sure?" }, class: "btn-n btn-pink" %>
  </div>
</div>