<h1 class="text-center bi bi-journal-bookmark-fill"> SUBJECTS</h1>

<div class="n-wrapper">
  <div class="n-card">
    <div class="text-end mb-3">
      <%= link_to "\tNew Subject", new_subject_path, class: "bi bi-plus-circle btn-n btn-mint btn-new" %>
    </div>

    <table class="n-table">
      <thead>
        <tr>
          <th>SUBJECT NAME</th>
          <th>TEACHER</th>
          <th>UNITS</th>
          <th>ACTIONS</th>
        </tr>
      </thead>

      <tbody>
        <% @subjects.each do |subject| %>
          <tr>
            <td><%= subject.name %></td>
            <td><%= subject.teacher.name %></td>
            <td><%= subject.number_of_units %></td>
            <td class="actions-cell">
              <%= link_to "Show", subject, class: "btn-n btn-sky" %>
              <%= link_to "Edit", edit_subject_path(subject), class: "btn-n btn-peach" %>
              <%= link_to "Delete", subject, class: "btn-n btn-pink" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

