<div class="n-wrapper">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="card-header-solid m-0">SUBJECTS</h1>
    <%= link_to "New Subject", new_subject_path, class: "btn-n btn-mint" %>
  </div>

    <table class="n-table">
      <thead>
        <tr>
          <th>SUBJECT NAME</th>
          <th>TEACHER</th>
          <th>UNITS</th>
          <th>ACTIONS</th>
        </tr>
      </thead>

      <tbody>
        <% @subjects.each do |subject| %>
          <tr>
            <td><strong><%= subject.name %></td>
            <td class="text-center">
              <%= subject.teacher.name %></td>
            <td><%= subject.number_of_units %></td>
            <td class="d-flex gap-2 justify-content-center">
              <%= link_to "View", subject, class: "btn-n btn-sky", onclick: "event.stopPropagation();" %>
              <%= link_to "Edit", edit_subject_path(subject), class: "btn-n btn-peach", onclick: "event.stopPropagation();" %>
              <%= button_to "Delete", subject,
                    method: :delete,
                    form: { onsubmit: "event.stopPropagation();" },
                    data: { confirm: "Are you sure?" },
                    class: "btn-n btn-pink" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>