<div class="n-wrapper">
  <h1 class="card-header-solid text-center bi bi-person-video3"> TEACHERS</h1>

  <div class="n-card">
    <div class="text-end mb-3">
        <%= link_to "\tNew Teacher", new_teacher_path, class: " bi bi-person-add btn-n btn-mint btn-new" %>
    </div>

    <table class="n-table">
      <thead>
        <tr>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>DEPARTMENT</th>
          <th>ACTIONS</th>
        </tr>
      </thead>

      <tbody>
        <% @teachers.each do |teacher| %>
          <tr>
            <td><%= teacher.name %></td>
            <td><%= teacher.email %></td>
            <td><%= teacher.department.name %></td>
            <td class="actions-cell text-center">
              <%= link_to "Show", teacher, class: "btn-n btn-sky" %>
              <%= link_to "Edit", edit_teacher_path(teacher), class: "btn-n btn-peach" %>
              <%= link_to "Delete", teacher, class: "btn-n btn-pink" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
