<div class="n-wrapper">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1 class="card-header-solid m-0">TEACHERS</h1>
    <%= link_to "New Teacher", new_teacher_path, class: "btn-n btn-mint" %>
  </div>

    <table class="n-table">
      <thead>
        <tr>
          <th>NAME</th>
          <th>EMAIL</th>
          <th>DEPARTMENT</th>
          <th>ACTIONS</th>
        </tr>
      </thead>

      <tbody>
        <% @teachers.each do |teacher| %>
          <tr>
            <td><strong><%= teacher.name %></td>
            <td><%= teacher.email %></td>
            <td><%= teacher.department.name %></td>
            <td class="d-flex gap-2 justify-content-center">
              <%= link_to "View", teacher, class: "btn-n btn-sky", onclick: "event.stopPropagation();" %>
              <%= link_to "Edit", edit_teacher_path(teacher), class: "btn-n btn-peach", onclick: "event.stopPropagation();" %>
              <%= button_to "Delete", teacher, 
                    method: :delete,
                    form: { onsubmit: "event.stopPropagation();" },
                    data: { confirm: "Are you sure?" },
                    class: "btn-n btn-pink" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>